.background {
  background-color: #b2591a;
  display: flex;
  align-items: center;
  padding: 0 5em;
}

.list-background {
  margin: 0 2em;
}

.list-background-button {
  font-size: 1.25rem;
  background-color: #b2591a;
  color: white;
  border: none;
  height: 3.75em;
}

.list-background-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.list-search {
  display: flex;
  align-items: center;
}

/* To move the toggle button to the left*/
.background div:last-child {
  margin-left: auto;
}

#logo {
  width: 175px;
  height: 75px;
}

#searchLogo {
  width: 30px;
  height: 40px;
  margin-right: 10px;
}
